SVR_PORT=6000
SVR_HOST=http://localhost
CLUSTER=false
THREAD_LIMIT=auto

DATABASE_URL=mongodb://localhost/mms?retryWrites=true&w=majority

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

CORS_WHITELIST=http://localhost;http://127.0.0.1

JWT_ACCESSTOKEN_TTL=15m
JWT_REFRESHTOKEN_TTL=2w
JWT_PRIVATE_KEY=
